.LoginForm {
	width: fit-content;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	background-color:snow;
	border: solid 1px black;
	border-radius: 1%;
}

.LoginForm-formGroup {
	text-align: left;
}
.LoginForm-label {
	margin: 0px;
}

.LoginForm-input {
	margin: 0px;
}