.Profile {
	width: fit-content;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	background-color:snow;
	border: solid 1px black;
	border-radius: 1%;
}

.Profile-formGroup {
	text-align: left;
}
.Profile-label {
	margin: 0px;
}

.Profile-input {
	margin: 0px;
}

.Profile-errorMessage {
	color: red;
	font-style: italic;
}

.Profile-successMessage {
	font-weight: bold;
}
